

/* portfolio section */

.portfolio-content {
  overflow: hidden;
}
.portfolio-item {
  width: 32%;
  float: left;
  margin-bottom: 25px;
  position: relative;
  padding: 20px;
}
.portfolio-item .layer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s;
}
.portfolio-item:hover .layer-content {
  opacity: 1;
  visibility: visible;
}
.layer-content .layer-info {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 80%;
  text-align: center;
  transform: translate(-50%, -50%);
}
.layer-content .category {
  color: var(--mainColor);
  text-transform: uppercase;
  display: block;
  margin-bottom: 5px;
  position: relative;
  top: 10px;
  opacity: 0;

  transition: top 0.5s, opacity 0.5s;
  transition-delay: 0.2s;
}
.layer-content-title {
  font-size: 20px;
  colovar: ( --whiteColor);
  margin-bottom: 10px;
  position: relative;
  top: 10px;
  opacity: 0;

  transition: top 0.5s, opacity 0.5s;
  transition-delay: 0.3s;
}
.layer-content a {
  color: var(--whiteColor);
  position: relative;
  top: 10px;
  opacity: 0;

  transition: top 0.5s, opacity 0.5s;
  transition-delay: 0.3s;
}
.layer-content a i {
  line-height: 40px;
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: var(--mainColor);
}
.portfolio-item:hover .layer-content-title,
.portfolio-item:hover .layer-content a,
.portfolio-item:hover .layer-content .category {
  top: 0;
  opacity: 1;
  visibility: visible;
}

.portfolio-item.mg {
  margin: 0 2%;
}
.portfolio-item img {
  width: 100%;
}
